@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="d-flex">
        <div class="d-flex bg-white rounded shadow w-25 px-3 py-2 align-content-center">
            <a asp-area="" asp-controller="Produks" asp-action="Index" class="d-flex align-items-center text-decoration-none">
                <div class="w-40 h-40 mr-3">
                    <img src="~/images/shopbag.png" alt="Shop Bag" class="img-fluid" />
                </div>
                <div>
                    <h6 class="mb-1">Jumlah Produk</h6>
                    <h6>@(Model?.JumlahProduk ?? 0)</h6>
                </div>
            </a>
        </div>

        <div class="d-flex bg-white rounded shadow w-25 px-3 py-2 align-content-center ml-3">
            <a asp-area="" asp-controller="BahanBakus" asp-action="Index" class="d-flex align-items-center text-decoration-none">
                <div class="w-40 h-40 mr-3">
                <img src="~/images/market.png" class="" />
            </div>
            <div class="mt-2">
                <h6>Jumlah Bahan Baku</h6>
                <h6>@(Model?.JumlahBahanBaku ?? 0)</h6>
            </div>
            </a>
        </div>
        <div class="d-flex bg-white rounded shadow w-25 px-3 py-2 align-content-center ml-3">
            <a asp-area="" asp-controller="Suppliers" asp-action="Index" class="d-flex align-items-center text-decoration-none">
                <div class="w-40 h-40 mr-3">
                <img src="~/images/papan.png" class="" />
            </div>
            <div class="mt-2">
                <h6>Jumlah Supplier</h6>
                <h6>@(Model?.JumlahSupplier ?? 0)</h6>
            </div>
            </a>
        </div>
        <div class="d-flex bg-white rounded shadow w-25 px-3 py-2 align-content-center ml-3">
            <a asp-area="" asp-controller="Transaksis" asp-action="Index" class="d-flex align-items-center text-decoration-none">
                <div class="w-40 h-40 mr-3">
                <img src="~/images/list.png" class="" />
            </div>
            <div class="mt-2">
                <h6>Total Transaksi</h6>
                <h6>@(Model?.JumlahTransaksi ?? 0)</h6>
            </div>
            </a>
        </div>
    </div>
    <br/>
    <div class="d-flex">
        <div class="d-flex bg-white rounded shadow ">
            <div class="card-body">
                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <div class="d-flex justify-content-between">
                    <p class="card-title">Sales Report</p>
                    <a href="#" class="text-info">View all</a>
                </div>
                <p class="font-weight-500">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                <div id="sales-legend" class="chartjs-legend mt-4 mb-2"><ul class="1-legend"><li><span style="background-color: rgb(152, 189, 255);"></span>Offline Sales</li><li><span style="background-color: rgb(75, 73, 172);"></span>Online Sales</li></ul></div>
                <canvas id="sales-chart" width="585" height="292" style="display: block; height: 195px; width: 390px;" class="chartjs-render-monitor"></canvas>
            </div>
            <div class="col-md-6 mt-3">
                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="north-america-chart" width="615" height="307" style="display: block; height: 205px; width: 410px;" class="chartjs-render-monitor"></canvas>
                <div id="north-america-legend"><div class="report-chart"><div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: #4B49AC"></div><p class="mb-0">Offline sales</p></div><p class="mb-0">88333</p></div><div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: #FFC100"></div><p class="mb-0">Online sales</p></div><p class="mb-0">66093</p></div><div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: #248AFD"></div><p class="mb-0">Returns</p></div><p class="mb-0">39836</p></div></div></div>
            </div>
        </div>
    </div>
</div>
